/* Your styles here */
body {
  line-height: 1.65;
  width: 100%;
  max-width: 31.25em;

  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
header h1 {
  color: #25a2c3;
  line-height: 1;
  font-family: "monserrat", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.blue {
  color: #25a2c3;
  line-height: 1.5;
  font-family: "monserrat", sans-serif;
  font-weight: bold;
  margin-top: 30px;
}
.text {
  margin-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
}
.logo {
  background-color: black;
}
.logo img {
  width: 35%;
  margin-top: 10%;
  margin-bottom: 10%;
}
header .titolo {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding-top: 10px;
}

.ready {
  background-color: #f04c2f;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 40px;
  width: 130px;
}
.ready span {
  font-weight: bold;
  position: relative;
  top: 5px;
}
main .notebook {
  border-radius: 50%;
  width: 70%;
}
main .orangebg {
  background-color: #f04c2f;
  color: white;
}
main .orangebg .titolo2 {
  font-size: 2em;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 30px;
}
main .orangebg .content {
  font-style: italic;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
main .orangebg .name {
}
main .orangebg .quote {
  font-size: 1em;
  padding-bottom: 40px;
}
footer {
  background-color: #25a2c3;
  color: white;
}
footer a {
  color: white;
}
footer h2 {
  font-family: "monserrat", sans-serif;
  font-weight: bold;
}
.imgpc {
  width: 400px;
  height: 90%;
  border-style: initial;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(139, 139, 139);
  margin: auto;
  margin-top: 30px;
}
img {
  width: 100%;
}
.whitebg2 {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
